/* img{
    width: 10vw;
    height: 10vh;
} */

/* You can modify all the mapped items by just doing styling for img, p, and h2. Then, if you have something you want to do unique styling on, you can just add a class or id and do the specific styling for that element */


body{
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#siteTitle{
    margin-top: 0;
    padding-top: 2vh;
}

/* #results{
    height: fit-content;
    width: 90vw;
    background-color: rgb(109, 109, 109);
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2%;
} */

/* .image{
    width: 10vw;
    height: 10vw;
} */

#resultsContainer{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(161, 38, 38);
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
    position: relative;
}

.results{
    height: fit-content;
    width: 25%;
    background-color: rgb(68, 68, 68);
    color: white;
    border-radius: 15px;
    /* margin: 0 auto; */
    margin-left: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2%;
    position: relative;
}

#nominationsDiv{
    position: fixed;
    top: 20%;
    right: 20%;
    z-index: 10;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 1vw;
    border-radius: 10px;
}

.nominateButton{
    background-color: rgb(250, 207, 15);
    color: rgb(48, 48, 48);
    height: 6vh;
    width: 6vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: 0.2s;
}

#nom0, #nom1, #nom2, #nom3, #nom4, #nom5, #nom6, #nom7, #nom8, #nom9{
    display: none;
    transition: 1s;
    margin-bottom: 1vh;
    padding: 1vh;
    position: absolute;
    bottom: 4.5%;
    left: 0%;
    right: 0%;
}

#nomTitle{
    text-decoration: underline;
}

/* #nominationsList{
    
} */

#fiveBanner{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0;
    background-color: rgba(69, 207, 69, 0.966);
    width: 50%;
    margin: 0 auto;
    padding: 3px;
    border-radius: 0px 0px 8px 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}